@use './colors.scss' as *;

$tree-width: 15%;

.tree {
  background-color: $color-channels-bg;
  height: 100%;
  width: $tree-width;
  overflow-y: auto;
  position: fixed;
}

.treeWrapper {
  min-width: $tree-width;
}